<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://raw.githubusercontent.com/zhuxiujia/GoMybatis/master/mybatis-3-mapper.dtd">
<mapper>
    <resultMap id="BaseResultMap" tables="sys_company_t">
        <result column="id" property="Id" langType="string"/>
        <result column="com_desc" property="ComDesc" langType="string"/>
        <result column="com_name" property="ComName" langType="string"/>
    </resultMap>
    <sql id="base_col">
        id,com_name,com_desc
    </sql>
    <insertTemplete/>

    <select id="list">
        select <include refid="base_col"/> from sys_company_t
        <where>
            <if test="name!=''">
                and com_name like #{name}
            </if>
        </where>
        limit #{pageIndex},#{pageSize}
    </select>
    <select id="listCount">
        select count(*) from sys_company_t
        <where>
            <if test="name!=''">
                and com_name like #{name}
            </if>
        </where>
    </select>
    <select id="existName">
        select count(*) from sys_company_t where com_name=#{name}
    </select>
    <select id="Get">
        select <include refid="base_col"/> from sys_company_t where id=#{id}
    </select>
    <delete id="del">
        delete from sys_company_t where id=#{id}
    </delete>
    <update id="update">
        update sys_company_t set com_name=#{ComName},com_desc=#{ComDesc} where id=#{id}
    </update>
</mapper>
